.redcar
.DS_Store
.project
config/database.yml
config/deploy.rb
Capfile
log/*
tmp/*
db/*.sqlite3
db/schema.rb
db/backup/*
db/sphinx/*
private/*
*.tmp_*
*.Thumbs.db*
config/app_config.yml
public/javascripts/base.js
public/stylesheets/base.css
.idea/
